
 
<p>
  <strong>College:</strong>
  <%= @college.name %>
</p> 
<p>
  <strong>FirstName:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>LastName:</strong>
  <%= @student.last_name %>
</p>
<p>
  <strong>DateofBirth:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>
<p>
  <strong>Email_id:</strong>
  <%= @student.email_id %>
</p>