<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @college.address %>
</p>
<p>
  <strong>State:</strong>
  <%= @college.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @college.city %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @college.phone %>
</p>