<p>
  <strong>Student:</strong>
  <%= @student.first_name %>
</p> 
<p>
  <strong>Roll No:</strong>
  <%= @marksheet.roll_no %>
</p>

<p>
  <strong>Physics:</strong>
  <%= @marksheet.physics %>
</p>
<p>
  <strong>Chemistry:</strong>
  <%= @marksheet.chemistry %>
</p>

<p>
  <strong>Mathematics:</strong>
  <%= @marksheet.mathematics %>
</p>
